services:
  app:
    container_name: kf2-stats-backend
    init: true
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - DB_PATH=/mnt/store/store.sqlite
      - GOPATH=/code/.go
    ports:
      - '3000:3000/tcp'
    volumes:
      - sqlite-db:/mnt/store
    network_mode: bridge
    working_dir: /code
volumes:
  sqlite-db: